{% extends 'base.html' %}
{% load static %}
{% block title %} {{ product.name }} {% endblock %}
{% block content %}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/category/{{ product.category.id }}/{{ product.category.slug }}">{{ product.category.name }}</a></li>
            <li class="active">{{ product.name }}</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<div class="section">
    <div class="container">
        <div class="row">
            <div class="product product-details clearfix">
                <!-- images -->
                <div class="col-md-6">
                    <div id="product-main-view">
                        <div class="product-view">
                            <img id="product-image" src="{{ product.image.url }}" alt="">
                        </div>
                        {% for image in product.images.all %}
                            <div class="product-view active">
                                <img src="{{ image.image.url }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <div id="product-view">
                        <div class="product-view">
                            <img src="{{ product.image.url }}" alt="">
                        </div>
                        {% for image in product.images.all %}
                            <div class="product-view active">
                                <img src="{{ image.image.url }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /images -->

                <div class="col-md-6">
                    <div class="product-body">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-20%</span>
                        </div>
                        <h2 class="product-name">{{ product.name }}</h2>
                        <h3 class="product-price">${{ product.price }}<del class="product-old-price"> $45.00</del></h3>
                        <div>
                            <div class="product-rating">
                                <i class="fa fa-star{% if product.average_review < 1%}-o empty{% endif%}"></i>
                                <i class="fa fa-star{% if product.average_review < 2%}-o empty{% endif%}"></i>
                                <i class="fa fa-star{% if product.average_review < 3%}-o empty{% endif%}"></i>
                                <i class="fa fa-star{% if product.average_review < 4%}-o empty{% endif%}"></i>
                                <i class="fa fa-star{% if product.average_review < 5%}-o empty{% endif%}"></i>
                                {{ product.average_review | stringformat:".2f" }}
                            </div>
                        </div>
                        {{ product.description | safe }}
                    </div>
                    <br>
                    <form method="post" action="{% url 'cart:cart_add' product.id %}">
                        {% csrf_token %}
                        <br>
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" value="1" min="1">
                        <button type="submit" class="primary-btn add-to-cart">
                            <i class="fa fa-shopping-cart"></i> Add to Cart
                        </button>
                    </form>

                </div>
                <br>
                <div class="pull-right">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                </div>
            </div>
        </div>
    </div>

    {% if recommended_products %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Recommended Products</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for p in recommended_products %}
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                  <div class="product-view">
                      <div class="item">
                        <a href="{{ p.get_absolute_url }}" >
                          <img src="{% if p.image %}{{ p.image.url }}{% else %}
                          {% static  "img/no_image.png" %}{% endif %}" width="100%">
                        </a>
                      </div>
                  </div>
                    <div class="product-body">
							<h3 class="product-price">${{ p.price }}</h3>
							<div class="product-rating">
								<i class="fa fa-star{% if product.average_review < 1%}-o empty{% endif%}"></i>
                                <i class="fa fa-star{% if product.average_review < 2%}-o empty{% endif%}"></i>
                                <i class="fa fa-star{% if product.average_review < 3%}-o empty{% endif%}"></i>
                                <i class="fa fa-star{% if product.average_review < 4%}-o empty{% endif%}"></i>
                                <i class="fa fa-star{% if product.average_review < 5%}-o empty{% endif%}"></i>
                                {{ p.average_review | floatformat:"1" }} / {{ p.count_review }}
							</div>
							<h2 class="product-name"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h2>
						</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="col-md-12">
        <div class="product-tab">
            <ul class="tab-nav">
                <li class="active"><a data-toggle="tab" href="#tab1">Details</a></li>
                <li><a data-toggle="tab" href="#tab2">Reviews ({{ product.count_review }})</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active">
                    <p>
                        {{ product.description | safe }}
                    </p>
                </div>
                <div id="tab2" class="tab-pane fade in">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-reviews">
                                {% for comment in comments %}
                                    <div class="single-review">
                                        <div class="review-heading">
                                            <div><a href="#"><i class="fa fa-user-o"></i> {{ comment.user }}</a> </div>
                                            <div><b>{{ comment.subject }}</b> </div>
                                            <div><a href="#"><i class="fa fa-clock-o"></i> {{ comment.created }}</a></div>
                                            <div class="review-rating pull-right">
                                                <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                            </div>
                                        </div>
                                        <div class="review-body">
                                            <p>{{ comment.comment }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                <ul class="reviews-pages">
                                    <li class="active">1</li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-uppercase">Write Your Review</h4>
                            <form class="review-form" action="/product/addcomment/{{ product.id }}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input name="subject" class="input" type="text" placeholder="Your subject" />
                                </div>
                                <div class="form-group">
                                    <textarea name="comment" class="input" placeholder="Your review"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="input-rating">
                                        <strong class="text-uppercase">Your Rating: </strong>
                                        <div class="stars">
                                            <input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                                            <input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                                            <input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                                            <input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                                            <input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                                        </div>
                                    </div>
                                </div>
                                {% if user.id is not None %}
                                    <button class="primary-btn">Submit</button>
                                {% else %}
                                    You must be logged in to post a review
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
