<div class="billing-details">
    <div class="section-title">
        <h3 class="title">User Panel</h3>
    </div>
    <div class="aside">
    <ul class="list-links">
        <li><a href="/user">Profile</a></li>
        <li><a href="/user/orders">Orders</a></li>
        <li><a href="/user/orders_product">Ordered</a></li>
        <li><a href="/user/comments">Comments</a></li>
        <li><a href="/user/favorites">Favorites</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</div>